$red-color: #fc3c3b;
$green-color: #71fc72;
$yellow-color: #f9e141;
$blue-color: #2d7dff;

.student {
  margin: 0 2rem;
  width: 311px;

  img {
    width: 211px;
    height: 283px;
    object-fit: cover;
    border-radius: 15px;
    box-sizing: border-box;
    transition: 0.5s;

    &.red {
      border: 2px solid $red-color;
    }

    &.green {
      border: 2px solid $green-color;
    }

    &.yellow {
      border: 2px solid $yellow-color;
    }

    &.blue {
      border: 2px solid $blue-color;
    }

    &:hover {
      filter: brightness(0.7);
    }
  }
}

.chooseCharacter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  animation: appear 2s;

  .student {
    width: 210px;

    img {
      width: 130px;
      height: 180px;
      // border-radius: 100%;
      margin: 1rem;
      object-fit: cover;
      transition: all ease-in-out 0.5s;

      &:hover {
        // border: 2px solid orange;
        transform: scale(1.2);
        filter: brightness(1);
      }
    }
  }
}
