$red-color: #a91c01;
$green-color: #358725;
$yellow-color: #a38f04;
$blue-color: #0043b1;
$blue-gray-color: #647b80;

.student {
  margin: 0 2rem;
  width: 311px;

  img {
    width: 211px;
    height: 283px;
    object-fit: cover;
    border-radius: 15px;
    box-sizing: border-box;
    transition: 0.5s;

    &.red {
      border: 2px solid $red-color;
    }

    &.green {
      border: 2px solid $green-color;
    }

    &.yellow {
      border: 2px solid $yellow-color;
    }

    &.blue {
      border: 2px solid $blue-color;
    }

    &:hover {
      filter: brightness(0.7);
    }
  }

  p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 41px;
    margin: 0;
    border-radius: 5px;

    &.red {
      background-color: $red-color;
    }
    &.green {
      background-color: $green-color;
    }
    &.yellow {
      background-color: $yellow-color;
    }
    &.blue {
      background-color: $blue-color;
    }
  }
}
