@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes vanish {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearFromRight {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

h1,
h2,
h3,
p,
label {
  &:hover {
    color: orange;
  }
}

body,
h1,
h2,
h3,
p,
button {
  font-family: "Turret Road", cursive;
}

.students {
  animation: appear 2.5s;
  display: flex;
  justify-content: center;
  margin: 20px 200px;
}

.gamePhase0 {
  animation: vanish 2s;

  h2 {
    font-size: 30px;
  }

  .playButton {
    background-image: url(../../assets/play.png);
    width: 140px;
    cursor: pointer;
  }
}

.gamePhase1 {
  animation: vanish 2.5s;
}

.introPhase {
  img {
    // margin-top: 10%;
    animation: vanish 3s;
    border: 6px solid #647b80;
  }
}
