.gamePhase2 {
  padding-top: 1rem;

  img {
    width: 200px;
  }

  div.student {
    animation: appear 2s;
  }

  li:first-child {
    animation: appear 0.5s;
  }

  li:nth-child(2) {
    animation: appear 1s;
  }

  li:nth-child(3) {
    animation: appear 1.5s;
  }

  li:nth-child(4) {
    animation: appear 2s;
  }

  li:nth-child(5) {
    animation: appear 2.5s;
  }

  ul {
    padding: 10px;

    li {
      list-style: none;
      text-align: start;
      padding: 10px;
    }
  }
}

#player {
  display: flex;
  flex-wrap: wrap;
  width: 50%;

  h2 {
    width: 100%;
    margin: 0.5rem;
    height: 25px;
    margin-bottom: -1.5rem;
  }

  div {
    width: 200px;
    height: 280px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../../assets/bg.png);
    margin: 1rem;

    label {
      margin: 1px 0;
      text-align: start;
      color: #61858d;
      font-weight: 600;
      font-size: 1.3rem;
      padding: 2px;

      &.type {
        background-color: rgba(0, 0, 0, 0);
        font-size: 1.1rem;
      }

      &:hover {
        color: orange;
      }
    }

    &.player-info {
      width: 280px;
    }
  }
}

label:hover {
  transform: scale(1.2);
}

#character-created {
  display: flex;
  flex-wrap: wrap;

  .assistant {
    width: 40%;

    h2 {
      margin: 0.5rem;
      margin-bottom: 2rem;
    }

    img {
      // margin-top: 3rem;
    }
  }
}

.continueButton {
  background-image: url(../../assets/continue.png);

  &.gameButton {
    margin-top: 3rem;
    height: 93px;
  }
}

figcaption {
  background-color: #61858d;
  width: 200px;
  margin: 0 auto;
  padding: 0.5rem 0.5rem;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  background-image: url(../../assets/bg.png);
  background-size: contain;

  &:hover {
    color: orange;
  }
}

h2,
h1 {
  background-color: #61858d;
  padding: 0 0.5rem;
  border-radius: 15px;
  background-image: url(../../assets/bg.png);
  background-size: contain;
}
